<div ng-controller="ctrlMain">
  <input ng-model="search" type="text" placeholder="Search..." />
  <ul>
    <li ng-repeat="item in items | filter:search">
      {{ displayName(item) }} is probably not {{ item.age }} years old.
    </li>
  </ul>
</div>
